{% extends "user/base.html" %}
{% load static %}
{% block body %}
<div class="bg-light p-1">
<nav>
<a href= {% url 'register' %} class="m-4">signup</a>
<a href= {% url 'login' %} class="m-4">login</a>
<a href= {% url 'profile-update' %} class="m-4">profile</a>
</nav>
	
</div>	
{% endblock body %}




