{% extends "user/base.html" %}
{% load static %}
{% block body %}
<div id="divForm" class="col-5 m-auto p-4 bg-light">
<style>
#login-form input{
	width: 75%;
	border-radius: 5px;
	min-width: 80px;
}
</style>
	<form method="POST" id="login-form" class="content-section text-center">
		<fieldset class="form-group" style="margin-bottom: 0">
		<label >
			<h1 class="display-2" style="margin-top: 1vh;">Log In</h1>
			<br/>
			<h5 class="text-secondary" style="margin-top: -1vh">Please LogIn to continue</h5>
		</label>
		<br/>
		{%csrf_token%}
		{{form.as_p}}
		</fieldset>
		<button type = "submit" class="btn btn-primary" id="submit">LogIn</button>
		<p style="padding-bottom: 0.5vh;">
		<small class="font-weight-light" style="margin-right: 0.5vw;">Create Account  </small>
		<a href={% url 'register' %}>click here</a>
		</p>
		</form>
</div>	
{% endblock body %}




