{% extends "user/base.html" %}
{% load static %}
{% block body %}
	<div class="p-2" id="divForm" style="margin-bottom: 10vh; margin-top: 8vh;" >
		<form class="content-section bg-light" method="POST" enctype="multipart/form-data">
			<div style="text-align: center;">
				<label>
					<h2 class="display-4" style="margin-top: 1vh;">Profile</h2>
					<br/>
				</label>
				<br/>
			</div>

			<fieldset class="form-group" style="padding-left: 1vw;">
				{%csrf_token%}
				{{form.as_p}}
			</fieldset>
			<p style="text-align: center;">
			<button type = "submit" class="btn btn-primary" style="font-size: 2.5vh; padding: 3px;">Submit</button></p>
			</form>
	</div>	
{% endblock body %}



