{% extends "user/base.html" %}
{% load static %}
{% block body %}
	<div id="divForm" class="col-8 m-auto p-4 bg-light">
		<form class="content-section" method="POST">
			<div style="text-align: center;">
				<label>
					<h2 class="display-4" style="margin-top: 1vh;">Sign Up</h2>
					<br/>
					<h5 class="text-secondary" style="margin-top: -1vh">All fields are mandatory </h5>
				
				</label>
				<br/>
			</div>

			<fieldset class="form-group" style="padding-left: 1vw;">
				{%csrf_token%}
				{{form.as_p}}
			</fieldset>
			<p style="text-align: center;">
			<button type = "submit" class="btn btn-primary" style="font-size: 2.5vh; padding: 3px;">Submit</button></p>
			<p style="padding-bottom: 0.5vh; text-align: center;"><small class="font-weight-light" style="margin-right: 0.5vw;">Already have an accout </small><a href={% url 'login' %}>click here</a></p>
		</form>
	</div>	
{% endblock body %}



